<!DOCTYPE html>
<html lang="en">
{% extends 'homepage.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}
      <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
											<h2>Welcome to Homepage!</h2>
                                            <br>
											<h3>Please click the blow button!</h3>
                                                <br>

                                            <h2><a href="{% url 'login_url' %}" class="btn btn-primary btn-sm">Click</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>

    {% endblock %}
</body>
</html>